In [21]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv"
dados = pd.read_csv(url, sep=",")
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

In [22]:
df = dados.fillna(0)
valores_remover =  df[df['Notas'] == 0].index
dados.drop(valores_remover, axis = 0, inplace= True)

In [32]:
index_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index
dados.drop(index_remover, axis = 0, inplace=True)

0      True
2     False
3     False
4      True
6      True
11    False
12     True
13     True
15     True
17     True
Name: Aprovado, dtype: bool

In [37]:
df_aprovados = dados.query('Aprovado == True')

In [38]:
df_aprovados.to_csv('alunos_aprovados.csv', index = False, sep = ';')